/* CSS Document */
p
{
	text-decoration:none;
	display:inline;
	background-color:#0099CC;
	color:white;
	
}
#fhbackground
{
	background-color:#0099CC;
	padding:5px 15px 5px 15px;
	
}

 p span{
	font-size:24px
}
button{
	padding:2px 8px 2px 8px;
	background-color:#CC99FF;
	border-radius:8px;
	
	}
button:hover{
	background-color:#0066FF;
	color:#FFFFFF;
	transition: all 500ms linear;
	
}
footer center{
color:white;
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
#icons{
background-color:#99FFFF;
padding:0px 45px 0px 4px;
}
#dis{
display:none;
top: 14px;
left: 286px;
position:absolute;
background-color: rgba(26, 158, 140, 0.02);
    color: blue;
	z-index:2;
}


#goo{
display:none;
top: 13px;
left: 505px;
position:absolute;
background-color: rgba(26, 158, 140, 0.02);
    color: blue;
	z-index:2;
}
#linked{
display:none;
top: 12px;
left: 720px;
position:absolute;
background-color: rgba(26, 158, 140, 0.02);
    color: blue;
	z-index:2;
}
#twit{
display:none;
top: 15px;
left: 950px;
position:absolute;
background-color: rgba(26, 158, 140, 0.02);
    color: blue;
	z-index:2;
}
#rs{
display:none;
top: 14px;
right: 164px;
position:absolute;
background-color: rgba(26, 158, 140, 0.02);
    color: blue;
	z-index:2;
}
.panel{
background-color:#9999FF;
}
#abt{
display:none;
color:blue;
}
#nav{
	padding:26px 10px 10px 10px;
}
#bh:hover{
	width:400px;
	color:black;
	background-color:#0066FF;
	
}
#headerfixed{
	position: fixed;
	top:0px;
	z-index:1;
	width:100%;
}
#tabcontentfixed{
	position : absolute;
	top :130px;
	width:100%;
}
#footerfixed{
	position:fixed;
	bottom:0px;
	width:100%;
	z-index:1;
}
